body{
    margin: 0px;
    padding: 0px;;
    background-color: #d3dbe0;
}
a{
    text-decoration: none;
}
.box{
  
    width: 300px;
    box-shadow: 2px 2px 30px rgba(0, 0,0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}
.slide-img{
    height: 450px;
}
.slide-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}
.detail-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.type{
    display: flex;
    flex-direction: column;
}
.type a{
    color: #222222;
    margin: 5px 0 px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-right: 8px;
}
.type span{
    color: rgba(26, 26, 26, 0.5);
}
.price{
    color: #333333;
    font-weight: 600;
    font-family: popins;
    letter-spacing: 0.5px;
}