<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm">

    <a class="navbar-brand my-0 me-md-auto" href="#">
        <img src="./../../assets/download.png" alt="dabchy" class="d-inline-block align-top">
    </a>
    <nav class="my-2 my-md-0 me-md-3">

        <a class="btn btn-success me-3" [routerLink]="['/login']">login</a>
        <a class="btn btn-success me-3" [routerLink]="['/register']">register</a>

        <button type="button" class="btn btn-outline-info" [routerLink]="['/add-to-cart']">
            
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="17" fill="currentColor" class="bi bi-cart-check"
                viewBox="0 0 16 16">
                <path
                    d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                <path
                    d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
            </svg>
            <span>0</span>
        </button>

    </nav>

</header>
